* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.swiper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10 auto;
  background-color: rgb(151, 146, 146);
  height: 50px;
  width: 70px;
  border-radius: 10%;
}

.timer {
  margin-top: 10px;
  display: flex;
  width: 100px;
  height: 50px;
  gap: 10px;
}

.field {
  align-items: center;
  text-align: center;
}

.value {
  font-size: 30;
}

.label {
  font-style: italic;
}
